<head>
  <link rel="stylesheet" type="text/css" href="/reset.css">
  <link rel="stylesheet" type="text/css" href="/condition/show.css">
</head>

<body>

<div class="container">
  <header>
    <h1>Weather</h1>
    <nav>
      <ul>
        <li><a href="/conditions">Weather Conditions</a></li>
        <li><a href="/weather-dashboard"> Weather Dashboard </a></li>
        <li><a href="/">Home</a></li>
      </ul>
    </nav>
  </header>

    <table>
      <tr class="field-name">
        <th>Date:</th>
        <th><%="#{@condition.date.month}/#{@condition.date.day}/#{@condition.date.year}"%></th>
      </tr>
      <tr class="field-name">
        <th>Max Temp(F):</th>
        <th><%= @condition.max_temperature_f %></th>
      </tr>
      <tr class="field-name">
        <th>Mean Temp(F):</th>
        <th><%=@condition.mean_temperature_f%></th>
      </tr>
      <tr class="field-name">
        <th>Min Temp(F):</th>
        <th><%=@condition.min_temperature_f%></th>
      </tr>
      <tr class="field-name">
        <th >Mean Humidity:</th>
        <th><%=@condition.mean_humidity%></th>
      </tr>
      <tr class="field-name">
        <th>Mean Visibility(miles):</th>
        <th><%= @condition.mean_visibility_miles %> </th>
      </tr>
      <tr class="field-name">
        <th >Mean Wind Speed(mph):</th>
        <th><%= @condition.mean_wind_speed_mph %></th>
      </tr>
      <tr class="field-name" >
        <th>Precipitation(in):</th>
        <th><%=@condition.precipitation_inches%></th>
      </tr>
        <th colspan=2>
          <form action='/conditions/<%=@condition.id%>' method='POST'>
            <input type='hidden' name='_method' value='DELETE'>
            <button type='submit' class="delete_button">Delete</button>
          </form>
        </th>
      </tr>
    </table>
  </div>
</body>
